<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>eg.janschaefer.wifirestart</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>48AB3F77-1D68-4DEC-8CFC-9CA660E28450</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36C28947-A210-4ADA-A609-4D5ECB603886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan Schäfer (jan@schae.fr)</string>
	<key>description</key>
	<string>Restarts your macs wireless connection if it gets stuck.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WifiRestart</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wifirestart</string>
				<key>subtext</key>
				<string>Restart my Wifi Connection</string>
				<key>text</key>
				<string>Wifi Restart</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48AB3F77-1D68-4DEC-8CFC-9CA660E28450</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>networksetup -setairportpower airport off;
sleep 1;
networksetup -setairportpower airport on;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36C28947-A210-4ADA-A609-4D5ECB603886</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>36C28947-A210-4ADA-A609-4D5ECB603886</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>48AB3F77-1D68-4DEC-8CFC-9CA660E28450</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.schae.fr</string>
</dict>
</plist>
